body{
display: flex;
justify-content: center;
}

.pai{
    width: 400px;
    height: 450px;
    background-color: black;
    border-radius: 50px;
}

.cabeca{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.visor{
    width: 360px;
    height: 75px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: white;
    border: none;
}

.boton{
    width: 95%;
    height: 250px;
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

button{
    width: 85px;
    height: 40px;
    border-radius: 50px;
    margin-right: 5px;
    font-weight: bold;
    font-size: large;

}

.button0{
    width: 170px;
    background-color: #ffe204;
}

.amarelo{
    background-color: #ffe204;
}

.d{
    background-color: #ccc;
}

.amarelo:hover{
    background-color: #ffee6a;
}

.d:hover{
    background-color: #eaeaea;
}
